*{
    box-sizing: border-box;
}
body{
    font-family: National-Medium,Helvetica,sans-serif;
}
.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 25px;
    padding-left: 25px;
}
.container-banner{
    max-width: 1140px;
    margin:40px 60px 0px ;
    padding:30px 25px 40px;
    
}
.head{
    display: flex;
    justify-content: space-between !important;
}
.hea, .hea:hover{
    display: block;
    padding: 12px 0;
    background-color: rgba(23,39,78,.7);
    color: white;
    text-align: center;
    font-size: 16px;
}
.hea p{
    margin: 0;

}
.covid{
    background-color: #3973e6;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: .75rem;
    letter-spacing: .5px;
    font-weight: bold;
    
}
.fa-arrow-right{
    font-size: 12px !important ;
    font-weight: 100 !important;
}
.header-info a:hover{
    text-decoration: none;
}
.tagline{
    font-weight: 700;
    font-size: 13px;
}
.tagline:hover{
    color: rgba(255,255,255,.75);
}
.logo img{
    margin: 17px 0px;
    height: 25px;
    width: 120px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;

}
.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.menu-bar{
    box-shadow:0 1px 2px 0 rgba(0,0,0,.1);
    
}
.fa-angle-down{
    margin: 13px 8px;
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0,0,0,.7);
    font-weight: 500;
}
.menu-list{
    display: flex;
    list-style-type: none;
    margin: 10px 0 0;
    padding: 0;
    height: min-content;
    
}.menu-item {
    position: relative;
    height: min-content;
    font-size: .875rem;
}
 .menu-item span{
    color: rgba(0,0,0,.7);
    font-weight: 500;
    padding: 13px 20px;
    line-height: 1;
    display: inline-block;
}
.menu-item a:hover{
    text-decoration: none;
}
.banner-text h1{
    font-weight: 500;
    color: #4d4d4d;
    margin: 10px 0;
    font-size: 2.675rem;
    line-height: 1.29;
}
.banner-img img{
    width: 100%;
}
.subtext{
    font-size: 1.25rem;
    line-height: 1.4;
    color: #666;
}
.banner-btn{
    margin-top: 30px;
    color: #fff!important;
    padding: 10px 30px; 
    border: none;
    font-weight: bold;
    outline: 0;
    border-radius: 3px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color .15s ease-in;
    display: inline-block;
    line-height: 1.75;
    background: #3973e6;
}
.banner-btn:hover{
    background: #275dc7;
    text-decoration: none !important;
}
.product-list{
    padding: 0 11px 0px;
}
.product{
    padding: 50px 0;
    background-color: #f7f7f7;
}
.product-desc{
    padding-bottom: 50px;
}
.cards{
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    padding: 20px;
    margin-bottom: 20px;
    display: block;
    background-color: white;
    transition: transform .3s ease,box-shadow .3s ease;
}
.cards:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0,.11), 0 3px 3px -1px rgba(0,0,0,.1), 0 20px 30px -3px rgba(0,0,0,.1);
}
.product-h{
    font-size: 2.25rem;
    line-height: 1.33;
    color: #4d4d4d;
    margin: 10px 0;
}
.cards-title{
    display: inline-block;
    background-color: rgba(57,115,230,.1);
    color: #666;
    border: 1px solid rgba(57,115,230,.15);
    font-size: .625rem;
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.cards-logo img{
    width: 110px;
    background-size: 110px;
    height: 22px;
}
.cards-logo{
    display: block;
    margin: auto;
}
.cards-p{
    font-size: 1rem;
    line-height: 1.75;
    height: 100%;
    color: #666;
    margin: 10px 0;
}
.cards-trail{
    padding: 7px 20px;
    font-size: .75rem;
    border: 1px solid #999;
    background-color: #fff;
    color: #4d4d4d;
    display: block;
    width: 135px;
    margin: auto;
    font-weight: 700;
    border-radius: 3px;
    letter-spacing: 1px;
    line-height: 1.75;
}
.cards-trail:hover{
    text-decoration: none;
    color: white;
}
.learn-more{
    color: #275dc7;
    font-size: 1rem;
    margin: 15px 0 0;
    display: block;
    line-height: 1;
    font-weight: 500;
}
.learn-more:hover{
    text-decoration: none;
}
.trail-green:hover{
    text-decoration: none;
    background-color: rgb(37, 193, 111);
    border-color:rgb(37, 193, 111) ;

}
.al-products a{
    color: #fff!important;
    padding: 10px 30px;
    font-size: .875rem;
    background: #3973e6;
}
.al-products a:hover {
    text-decoration: none;
    background-color: #275dc7;
}
.trail-blue:hover{
    background-color: #45A4EC;
    border-color: #45A4EC;
}
.trail-orange:hover{
    background-color:hsl(40, 100%, 50%) ;
    border-color:hsl(40, 100%, 50%) ;
}
.trail-skyblue:hover{
    background-color: #08C7FB;
    border-color: #08C7FB;
}
.trail-merun:hover{
    background-color: #CC4783;
    border-color: #CC4783;
}
.trail-red:hover{
    background-color:#FF5969 ;
    border-color: #FF5969;
}
.bttn{
    margin-top:20px !important;
}
.work-promise{
    background-color: #3973e6;
    color: white;
    padding: 50px 0;
}
.promise-h{
    font-size: 2.25rem;
    line-height: 1.33;
    margin: 15px 0;
}
.promise-p{
    color: rgba(255,255,255,.75);
    font-size: 1.25rem;
    line-height: 1.4;
    margin:0 !important;
    font-weight: 700;
}
.read-more{
    padding: 9px 29px;
    font-size: .875rem;
    background: 0 0;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    border: solid 1px rgba(255,255,255,.7);
    border-radius: 3px;
    text-align: center;
    letter-spacing: 1px;
    display: block;
    font-weight: 700;
    width: fit-content;
    margin: auto;
    
}
.read-more:hover{
    text-decoration: none;
    background-color: rgba(255,255,255,.15);
    color: #fff;
}
.pro{
    margin-bottom:40px ;
}
.customer{
    padding: 40px 30px;
    background-color: #fff;
    margin: auto;
    width: 845px;
    height: auto;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
}
.customer-inner{
    margin: 0 65px;
}
.customer-logo{
    display: flex;
    justify-content: space-between;
}
.customer-logo img{
    width: 160px;
    
}
.quote{
    font-size: 44px !important;
    height: 40px !important;
    color: #9CB9F2;
}
.reports{
    font-size: 1.25rem;
    margin-top: 20px;
    line-height: 1.4;
    font-style: italic;
    color: #666;
}
hr{
    width: 90px;
    border-top: 2px solid #9CB9F2 !important;
}
.author{
    display: flex;
    justify-content: center;                                  
}

.author img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
}
.customer-name{
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.44;
    font-weight: 500;
    color: #4d4d4d;
    text-align: left;
}
.about{
    color: #666;
    margin: 0;
    line-height: 1.55;
    text-align: left;
}
.carousel-control-prev ,.carousel-control-next{
    color: rgba(57,115,230,.5) !important;
    padding: 1.25rem 1.3rem;
    font-size: 1.625rem;
    width: 66px !important;
    height: 66px;
    border-radius: 50%;
    background-color: #fff;
    left: unset !important;
    right: unset !important;
    height: fit-content;
    margin: auto 0;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
    opacity: 1 !important;
}
.carousel-control-prev:hover,.carousel-control-next:hover{
    color: #3973e6 !important;
}
.move{
    font-size: 25px !important;
    width: 22px;
    height: 26px;
}
.carousel-indicators{
    position: unset !important;
    justify-content: center;
    padding-top: 30px;
    padding-left: 0 !important;
    margin: 0 auto !important;
    
}
.carousel-indicators li{
    width:12px !important;
    height: 12px !important;
    border-radius: 50%;
    background-color: #fff;
    margin: 1px 2px;
    border: 1px solid #ccc;
}
.carousel-indicators .active{
    background-color: #3973e6 !important;
    border-color:#3973e6 !important;
}
.carousel-inner,.carousel-item{
    position: unset;
}
.inside-customer{
    padding-bottom: 50px;
}
.inside-freshworks{
    padding-top: 50px;
}
.inside-freshworks-img img{
    width: 100% !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
.inside-fw-h6{
    font-size: 1.125rem;
    line-height: 1.44;
    font-weight: 500;
    color: #4d4d4d;
    margin: 10px 0;
}
.rows{
    justify-content: center !important;
}
.inside-fw{
    padding: 10px 10px 40px;
}
.link{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.link-tag{
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(138,168,230,.2);
    transition: transform .3s ease,box-shadow .3s ease;
    margin: 0 0 40px;
}
.link-tag:hover{
    transform: translateY(-6px);
    box-shadow: 0 7px 10px 0 rgba(138,168,230,.2);
}
.more{
    margin: 15px 0 10px;
}
.company ul{
    font-size: 1rem;
    margin-right: 5px;
    text-align: left;
    list-style: none;
    padding-left: 0 ;
}
.footer-li ,.foot ,.foots{
    line-height: 1.61;
    position: relative;
}
.footer-li a, .foot a, .foots a{
    line-height: 1.4;
    color: #666;
    font-size: .875rem;
}
.footer-logo img{
    width: 95px;
    background-size: 95px;
    height: 19px;
}
.col6{
    padding: 0 !important;
}
.footer-lists ul{
    padding-left: 20px !important;
    
}
.footer-li::after{
    content: '';
    display: inline-block;
    height: 3px;
    width: 3px;
    background: #ccc;
    border-radius: 50%;
    position: absolute;
    top:12px;
    left: -13px;
}
.caps-heading{
    font-size: .75rem;
    font-weight: 600;
    margin:0 0 6px;
}
.footer-li a:hover,.foot a:hover{
    text-decoration: none;
    color: #333;
}
.footer-main{
    border-top: 1px solid #e6e6e6;
    background-color: #fafafa;
    padding: 50px 0;
}
.social-icon {
    margin-right: 70px;
}
.social-icon ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0 0;
}
.social{
    margin: 0 8px 8px 0;
    text-align: center;
}
.social a{
    
    color: #666;
    line-height: 1.4;
}
.social a i{
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size: .875rem;
    line-height: 36px;
    background-color: #fff;
    border: 1px solid #b3b3b3;
    border-radius: 50%;
    color: #b3b3b3;
}
.bor{
    border-left: 1px solid #b3b3b3;
    padding-left: 40px;
}
.copyrights{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    height: 60px;
    
}
.sub-footer{
    background-color: #f1f1f1;
    border: solid 1px #e6e6e6;
    color: #666;
}
.copyrights ul{
    display: flex;
    margin: 0;
    list-style: none;
    height: fit-content;
}
.foots {
    margin-right: 5px;
    height: fit-content;
}
.foots-p{
    margin:0 !important;
    font-size: .875rem;
    line-height: 1.71;
}